* {
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;
}

.button {
    padding: 35px;
    width: 90px;
    text-align: center;
    color: white;
    font-size: 25px;
    background-color: #14161E;
    border-style: solid;
    border-color: white;
    border-width: 1px;
}

.container {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.row {
    display:flex;
}


.display {
    width: 358px;
    height: 100px;
    background-color: #32343E;
    color: gray;
    font-size: 80px;
    text-align: right;
    font-weight: 200;
}

.oper, .clear, .equal, .change {
    background-color: #1B1D27;
}

.clear {
    color: #C03131;
}